body{
    display: flex;
    justify-content: center;
    #container{
        color:green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #clicker{
        width: 200px;
        height: 50px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }
}


